// VARS
// Start variables SET
$main-color: #333537;     // main body color
$main-background-color: #f8f8f9;      // main body bg-color
$main-font: 'Open Sans', Helvetica, sans-serif; // main Font
$main-font-size: 16px;        // main Body - fontSize
$main-line-height: 1.4;
$hh-color: #666;        // H1-H6 header color
$h1-font-size: 32px;       // H! font-size
$h2-font-size: 27px;
$h3-font-size: 21px;
$h4-font-size: 16px;
$h5-font-size: 14px;
$h6-font-size: 13px;
$a-color: #2968d7;      // link colors
$a-hover-color: #36f;
$required-color: #c00;  // required *  color )
$checkbox-color:#4484f4;     // checkbox/radio color
///
$transition-delay: 0.25s;

// mmenu
$mm-theme-black: #25272a;
$mm-theme-white: #ececed;
$mm-main-color: hsla(0,0%,100%,.6);
$mm-hover-color: hsla(0,0%,100%,.75);
$mm-main2-color: rgba(0, 0, 0, 0.45);  // for white thema
$mm-hover2-color: rgba(0, 0, 0, 0.55);
$mm-font-weight: 600;
$mm-navbar-height: 45px;
