@import "vars"; // variables 12

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,300i,400,400i,500,500i,700,700i');

html {
    background: #fff url(../img/preloader.gif) center no-repeat;
    min-height: 90vh;
}

body {
    opacity: 1; display: none;
    font-family: $main-font;
    color: $main-color;
    background: url(../img/body-bg.png);
    background-color: $main-background-color;
    font-size: $main-font-size;
    line-height: $main-line-height;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// remove link frrom ZZZ.com.ua
.cbalink { display: none; }

h1, h2 {
    font-family: $hh-font;
    font-weight: $hh-font-weight - 100 !important;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: $hh-font-weight;
    color: darken($main-color, 5%);
}

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

@media (max-width: 767px) {
    h1 { font-size: $h1-font-size + 1; }
    h2 { font-size: $h2-font-size + 1; }
    h3 { font-size: $h3-font-size + 1; }
    h4 { font-size: $h4-font-size * 1.1; }
    h5 { font-size: $h5-font-size * 1.1; }
    h6 { font-size: $h6-font-size * 1.1; }
}

@media (min-width: 768px) and (max-width: 1600px) {
 //  body { font-size: $main-font-size - 2; }
}

p, ul, ol {
   margin-bottom: 15px;
}

ul, ol {
    padding-left: 0;
}

a {
    color: $a-color;
    transition: 0.15s;
    &:hover {
       // color: lighten($a-color, 5%);
        color: $a-hover-color;
        text-decoration: none;
    }
}

// Ext container
@media (min-width: 1600px) {
    body { font-size: $main-font-size + 1; }
    .container {
        width: 1500px;
    }
}
@media (min-width: 1850px) {
    .container {
        width: 1760px;
    }
}

/*
  Header
*/
#top-header {
    position: relative;
    background-color: rgba(74,153,226,0.4);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 195px;

    &.bgd-1 { background-image: url('../img/top-bgd-min.jpg'); }
    &.bgd-2 { background-image: url('../img/top-bgd-min-2.jpg'); }
    &.bgd-3 { background-image: url('../img/top-bgd-min-3.jpg'); }

    .z-mask {
        background: rgba(0,0,0,0.8) url('../img/top-mask.png') center top;
        position: absolute;
        width:100%;
        height:100%;
        opacity: 0.15;
    }

    .z-full-screen {
        display: none;
        background: rgba(230,230,230,0.6);
        transition: opacity $transition-delay;
        padding: 10px;
        position: absolute;
        top:15px; right:15px;
        opacity: 0.5;
        cursor: pointer;
        border-radius: 8%;
        &:hover {
            opacity: 0.95;
        }
        .arr-expand {
            background: transparent url('../img/arrow-expand.png') left center no-repeat;
            background-size: auto 100%;
            width: 26px; height: 26px;
            display: block;
            opacity:0.75;
        }
        &.active {
            .arr-expand { background-position: right center; }
        }
    }

    .hamburger {
        outline: none;
        position: fixed;
        top: 8px;
        left: 8px;
        padding: 8px 6px;
        width: 45px; height: 45px;
        background: rgba(230,230,230,0.7);
        transition: opacity $transition-delay;
        opacity: 0.5;
        z-index: 10;
        &:hover {
            opacity: 0.8;
        }
        .hamburger-box {
            height:27px;
            opacity: 0.75;
        }
        &.is-open { top: 1px; left: 1px; background: rgba(10,15,30,0.15); }
    }

    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
        width: 33px;
        border-radius:0;
    }

    &.bgd-2 .z-full-screen , &.bgd-2 .hamburger {
        background: rgba(160, 160, 160, 0.4);
        opacity: 0.65;
        &:hover {
            opacity: 1;
        }
    }
    &.bgd-3 .z-full-screen , &.bgd-3 .hamburger {
        background: rgba(100, 100, 100, 0.3);
        opacity: 0.6;
        &:hover {
            opacity: 0.95;
        }
    }

    @media (min-width: 400px) {
        height: 250px;
    }
    @media (min-width: 480px) {
        //background-size: auto 100%;
        height: 350px;
    }
    @media (min-width: 700px) {
       // background-size: auto 150%;
        height: 400px;
    }
    @media (min-width: 809px) {
        background-position: center;
       // background-size: auto 100%;
        height: 460px;

        &.bgd-1 { background-image: url('../img/top-bgd.jpg'); }
        &.bgd-2 { background-image: url('../img/top-bgd-2.jpg'); }
        &.bgd-3 { background-image: url('../img/top-bgd-3.jpg'); }

        .z-full-screen {
            display: block;
        }
    }
    @media (min-width: 1200px) {
       // background-size: auto 100%;
        height: 500px;
    }
    @media (min-width: 1280px) {
      //  height: 100vh !important;
        height: 590px;
    }
    @media (min-width: 1500px) {
        height: 650px;
    }
    @media (min-width: 1600px) {
        height: 740px;
    }
    @media (min-width: 1850px) {
        height: 100vh;
    }
}

.br-ie #top-header .z-full-screen      { display: none; }
.br-ie .mm-open #top-header .hamburger { display: none;}

html:-ms-fullscreen .arr-expand      { background-position: right center; }
html:-webkit-full-screen .arr-expand { background-position: right center; }
html:-moz-full-screen .arr-expand    { background-position: right center; }


// mmenu  ///
.mm-menu { transition: transform 0.3s; transform: scale(1,0.85); }
.mm-menu.z-transform { transform: scale(1);}
.mm-menu.mm-theme-black { background: $mm-theme-black; }
.mm-menu.mm-theme-white { background: $mm-theme-white; }
.mm-panels>.mm-panel.mm-hasnavbar  { padding-top: $mm-navbar-height; }
.mm-navbar {
    height: $mm-navbar-height; line-height: 1.8; cursor: pointer;
    & > * {
        padding: 10px 0 6px;
    }
    & > a { font-size: 17px; }
}
.mm-listview {
    font-size: 16px;
    line-height: 1.6;
}
.mm-listview>li:not(.mm-divider):after { left:0 }
.mm-next:after, .mm-prev:before { width: 12px; height: 12px; }
.mm-menu a { cursor: pointer; }
.mm-menu.mm-theme-black {
    .mm-listview li:hover { background-color: lighten($mm-theme-black, 6%); }
    .mm-listview>li, .mm-listview>li .mm-next, .mm-listview>li .mm-next:before, .mm-listview>li:after, .mm-navbar { border-color: darken($mm-theme-black, 5%); }
    .mm-listview > li { border-top: 1px solid; border-color: lighten($mm-theme-black, 3%); }
    .mm-listview>li a:not(.mm-next) {
        -webkit-tap-highlight-color: rgba(255,255,255,.1);
        tap-highlight-color: hsla(0,0%,100%,.1);
    }
    .mm-listview > li a , .mm-navbar > * { text-shadow: 0 1px 1px rgba(0,0,0,0.8); color: $mm-main-color; }
    .mm-listview>li>a, .mm-listview>li>span {
        color: $mm-main-color;
        &:hover { color: $mm-hover-color; }
    }
    .mm-listview>li.mm-selected>a:not(.mm-next), .mm-listview>li.mm-selected>span {
        background-color: darken($mm-theme-black, 2%);
    }
    .mm-listview>li .mm-next:after  { border-color: darken($mm-main-color, 1%); opacity: 0.75; }
    .mm-listview>li .mm-next:before { opacity: 0.5 }
    .mm-btn:after, .mm-btn:before   { border-color: darken($mm-main-color, 1%); top: 6px; opacity: 0.8; }
}
.mm-menu.mm-theme-white {
    .mm-listview li:hover { background-color: lighten($mm-theme-white, 2%); }
    .mm-listview>li, .mm-listview>li .mm-next, .mm-listview>li .mm-next:before, .mm-listview>li:after, .mm-navbar { border-color: darken($mm-theme-white, 9%); }
    .mm-listview > li { border-top: 1px solid; border-color: lighten($mm-theme-white, 3%); }
    .mm-navbar>*, .mm-navbar a { color: rgba(0,0,0,.4); }
    &.mm-opened { border-right: 1px solid rgba(0,0,0,0.35); }
    .mm-listview>li>a, .mm-listview>li>span, .mm-navbar > a {
        color: $mm-main2-color;
        &:hover { color: $mm-hover2-color; }
    }
    .mm-listview > li a , .mm-navbar > * { text-shadow: 0 1px 1px rgba(0,0,0,0.12); }
    .mm-listview>li a:not(.mm-next) {
        -webkit-tap-highlight-color: rgba(255,255,255,.4);
        tap-highlight-color: hsla(0,0%,100%,.4);
    }
    .mm-listview>li.mm-selected>a:not(.mm-next), .mm-listview>li.mm-selected>span {
        background-color: darken($mm-theme-white, 3%);
    }
    .mm-btn:after, .mm-btn:before { top:5px; }
}
.mm-listview > li a , .mm-navbar > * { font-weight: $mm-font-weight; }
.mm-menu .glyphicon { font-size: 110%; margin-right: 5px; top: 2px; }

#main-menu-big { display: none; }

@media (min-width: 809px) {
    #top-header .hamburger , #main-menu , html.mm-blocking #mm-blocker { display: none!important; }
    html.mm-opening .mm-menu.mm-opened~.mm-slideout { transform: translate(0); }
    #main-menu-big { display: inline-block; }
}

#mm-blocker { background: rgba(0, 5, 10, 0.35); }
// mmenu END ///

// main-menu-big
#main-menu-big {
    position: absolute;
    top:25px; left:30px;
    ul {
        margin: 0; padding: 0; list-style: none; cursor: default;
        li {
            &:first-child { display: none; }
            a {
                color: rgba(0,1,20,0.5); font-family: $hh-font; font-size: 20px; font-weight: 400; opacity: 0.6; transition: opacity 0.2s; cursor: pointer;
                &:hover , &:focus { text-decoration: none; outline: none; opacity: 0.9; }
                &::before {
                    content: attr(data-hover);
                    color: #fff;
                    position: absolute;
                    transition: transform 0.25s, opacity 0.25s;
                }
                &:hover::before , &:focus::before {
                    transform: scale(0.95);
                    opacity: 0;
                }

                .glyphicon { display: none;}
            }
        }
    }
    & > ul > li {
        display: inline-block; vertical-align: top; margin: 0 10px; position: relative; padding-bottom: 5px;
        ul {
            display: none;
        }
    }
    & li.drop-down {
        & > .inset {
            display: block;
            z-index: -1;
            opacity: 0; transition: all 0.25s; transform: translateY(10px);
            position: absolute;
            top: 100%; left:0;
            background: rgba(250, 252, 255, 0.5);
            padding: 6px 0;
            a {
                display: block; padding-left: 10px; padding-right: 8%; font-size: 20px;
                &:hover {
                    background-color: rgba(0,0,0,0.05);
                }
            }
        }
        &:hover > .inset {
            display: block;
            opacity: 0.98;
            transform: translateY(0);
            margin-top: 0;
            z-index: 10;
            cursor: pointer;
        }
    }
}

@media (min-width: 992px) {
    #main-menu-big ul li a { font-size: 22px; }
}
@media (min-width: 1280px) {
    #main-menu-big ul li a { font-size: 24px; }
}

html:-ms-fullscreen #main-menu-big ul li a      { font-size: 24px; font-weight: 600; }
html:-webkit-full-screen #main-menu-big ul li a { font-size: 24px; font-weight: 600; }
html:-moz-full-screen #main-menu-big ul li a    { font-size: 26px; font-weight: 600; }

///  EXO TEXT in Header
.exo {
    font-family: monospace;
    position: absolute;
    top: 40%;
    margin-top: 68px;
    width: 100%;
    font-size: 1.5em;
    font-weight: 600;
    color: transparent;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 2px;
    transform: scaleY(1);
    text-shadow: 0 1px 1px white;
    opacity: 0.9;
    span {
        opacity: 0;
        transition: opacity 1200ms, transform 0.2s;
        cursor: pointer;
        display: inline-block;
    }
}
.exo.active span {
    opacity: 0.8;
    &.hover    { text-shadow: 0 1px 8px white; transition: text-shadow 0.25s; opacity:0.9; }
    &.to-hover { text-shadow: 0 1px 4px white; transition: text-shadow 0.3s; }
}
.exo.z-collapse {
    transform: scale(0.6,0.8); transition: transform 10s, opacity 8s;
    opacity:0; transition-delay: 800ms;
    span {
        text-shadow: 0 1px 50px white; transition: text-shadow 6s;
    }
}

.br-ie .exo , .br-edge .exo { color: white; text-shadow: 0 1px 1px rgba(0,0,0,0.5); }

.exo span:nth-child(1)  { transition-delay:  200ms }
.exo span:nth-child(2)  { transition-delay:  100ms }
.exo span:nth-child(3)  { transition-delay:  500ms }
.exo span:nth-child(4)  { transition-delay:  200ms }
.exo span:nth-child(5)  { transition-delay:  300ms }
.exo span:nth-child(6)  { transition-delay:  350ms }
.exo span:nth-child(7)  { transition-delay:  200ms }
.exo span:nth-child(8)  { transition-delay:  600ms }
.exo span:nth-child(9)  { transition-delay:  300ms }
.exo span:nth-child(10) { transition-delay:   150ms }
.exo span:nth-child(11)  { transition-delay:  300ms }
.exo span:nth-child(12)  { transition-delay: 600ms }
.exo span:nth-child(13)  { transition-delay:  400ms }
.exo span:nth-child(14)  { transition-delay:  100ms }
.exo span:nth-child(15)  { transition-delay:  400ms }
.exo span:nth-child(16)  { transition-delay:  300ms }
.exo span:nth-child(17)  { transition-delay:  800ms }
.exo span:nth-child(18)  { transition-delay:  200ms }
.exo span:nth-child(19)  { transition-delay:  400ms }

@media (min-width: 400px) {
    .exo {
        font-size: 2em;
    }
}
@media (min-width: 480px) {
    .exo {
        margin-top: 15px;
        word-spacing: 4px;
        font-size: 2.4em;
    }
}
@media (min-width: 768px) {
    .exo {
        margin-top: -10px;
        word-spacing: 5px;
        font-size: 3.5em;
    }
}
@media (min-width: 809px) {
    .exo {
        margin-top: 0;
        font-size: 3.6em;
    }
}
@media (min-width: 1200px) {
    .exo {
        margin-top: 0;
        font-size: 4.2em;
    }
}
@media (min-width: 1800px) {
    .exo {
        margin-top: 2px;
        font-size: 6em;
    }
}


// img-romb - -
#img-romb { transform: scale(0.9); position: relative; top: 32px; opacity: 0; transition: transform 0.2s, opacity 0.4s; }
#img-romb.active { opacity:1; }
.img-clip-wrap {
        width: 162px;
        height: 162px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
      //  background-color: white;
}
.img-clip-wrap > div {
    opacity: 0.9;
    transition: opacity 0.2s;
    transform: translate(-80px, -80px);
    position: relative;
    display: inline-block;
    width: 160px;
    height: 160px;
    background: #ddd url(../img/top-romb-min.jpg) no-repeat;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    margin-top: -83px;
    &:hover {
        opacity:0.98; cursor: pointer;
    }
}
.img-clip-wrap .cr-1 { background-position: top; margin-top: 0; margin-left: 80px; }
.img-clip-wrap .cr-2 { background-position: left; left: -1px; top: -1px; }
.img-clip-wrap .cr-3 { background-position: right; margin-left: 161px; top: -83px;}
.img-clip-wrap .cr-4 { background-position: bottom; margin-left: 80px; top: -84px;}

@media (min-width: 400px) {
    #img-romb { top: 61px; transform: scale(1); }
}
@media (min-width: 480px) {
    #img-romb {
        top: 75px;
        transform: scale(0.8);
    }
    .img-clip-wrap { width: 242px; height: 242px; }
    .img-clip-wrap > div {
        width: 240px; height: 240px; margin-top: -124px; transform: translate(-121px, -121px);
        background: #ddd url(../img/top-romb.jpg) no-repeat;
    }
    .img-clip-wrap .cr-1 { margin-left: 123px; }
    .img-clip-wrap .cr-2 { margin-left: 0; left:0; }
    .img-clip-wrap .cr-3 { margin-left: 246px; top: -122px;}
    .img-clip-wrap .cr-4 { margin-left: 123px; top: -123px;}
}
@media (min-width: 700px) {
    #img-romb { top: 100px; }
}
@media (min-width: 809px) {
    #img-romb { top: 130px; transform: scale(0.8); }
}
@media (min-width: 1200px) {
    #img-romb { top: 160px; transform: scale(0.9); }
}
@media (min-width: 1280px) {
    #img-romb {
        transform: scale(1);
        position: absolute;
        top: 52%; left: 50%;
        margin-top: -120px;
        margin-left: -121px;
    }
}
@media (min-width: 1500px) {
    #img-romb { transform: scale(1.1); }
}
@media (min-width: 1600px) {
    .img-clip-wrap .cr-2 { left: 2px; }
    .img-clip-wrap .cr-3 { top: -122px; left: -3px;}
    .img-clip-wrap .cr-4 { top: -123px; left:-1px; }
}

#top-header.bgd-3 #img-romb { display: none; }
///

section.box {
    margin: 15px 0;

    .section-header {
        margin-bottom: 30px;
        h2 {
            margin-top: 15px;
            margin-bottom: 4px;
            text-transform: uppercase;
            text-align: center;
        }
        .section-descr-wrap {
            margin-bottom: 5px;
            font-size: 90%;
            text-transform: uppercase;
            letter-spacing: 1px;
            opacity: 0.7;
            padding-left: 3px;
            transform: scaleY(0.92);
            text-align: center;
        }
    }

    .section-content {

    }

    .s-item {
        margin-bottom: 25px;
        text-align: center;
    }

    .skill-img {
        width: 120px;
        transition: transform 0.25s;
        &:hover {
            transform: scale(1.15);
        }
    }

    .s-item-body {
        h3 { display: none; }
        h4 {
            margin-bottom: 15px; font-weight: 400; font-size: 18px;
        }
        .text {
            text-align: start;
            & > p {
                display: none;
                &:first-child { display: block; }
                &.skill-p {
                    font-size: 85%;
                    display: inline-block;
                    vertical-align: top;
                    margin: 0;
                    padding: 2px 6px;
                    background-color: rgba(5, 10, 20, 0.02);
                    -webkit-border-radius: 2px;
                    border-radius: 2px;
                    color: grey;
                    opacity: 0.8;
                    border: 1px dashed;
                    &:hover { opacity: 1; cursor: default; background-color: rgba(5, 10, 20, 0.04); }
                }
            }
            .more {
                transform: scale(1);
                transition: transform 0.15s, opacity 0.15s;
                font-size: 70%;
                letter-spacing: 1px;
                text-transform: uppercase;
                background-color: $a-color;
                cursor: pointer;
                color: #fff;
                padding: 2px 4px;
                opacity: 0.7;
                position: relative;
                top: -1px;
                border-radius: 1px;
                &:hover {
                   // transform: scale(1);
                    opacity: 0.9;
                }
            }
        }
    }

    @media (min-width: 768px) {

        margin: 20px 0 30px;

        .section-header {
            margin-bottom: 45px;
        }
        .s-item {
            transition: 0.4s;
            width:49.5%;
            float: none;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 35px;
        }
        .s-item-body {
            h4 {
                font-size: 16px;
            }
        }

    }

    @media (min-width: 809px) {
        .section-header h2 , .section-header .section-descr-wrap {
            text-align: start;
        }
    }

    @media (min-width: 1500px) {
        .skill-img {
            width: 150px;
        }
        .s-item-body {
            .text {
                text-align: justify;
            }
            h4 {
                font-size: 18px;
            }
        }
        .section-header h2 {
            margin-top: 20px;
        }
    }
    @media (min-width: 1600px) {
        .section-header h2 {
            font-size: $h2-font-size + 2;
        }
        .s-item {
            width: 33.1%;
            margin-bottom: 40px;
        }
    }
    @media (min-width: 1850px) {
        .s-item {
            width: 24.6%;
        }
    }

}

.tabs {
    text-align: center;
    margin: 20px 0 30px;

    ul{
        list-style: none;

        li {
            padding: 0;
            margin: 6px;
            font-size: 18px;
            text-transform: uppercase;

            span {
                border-bottom: 1px solid transparent;
                font-weight: 300;
                cursor: pointer;
                &:hover { color: $a-hover-color; transition: $transition-delay; }
            }
            &.active {

                span {
                    color: lighten($main-color, 25%);
                    border-bottom-color: $a-color;
                    cursor: default;
                }
            }
        }
    }

    @media (min-width: 768px) {
        margin: 25px 0 30px;
        ul li {
            display: inline-block;
            vertical-align: top;
        }

    }

}

#works {

    .container {
        padding-right: 0;
        padding-left: 0;
    }

    .section-header {
        margin-bottom: 30px;
    }

    .section-header h2 , .section-descr-wrap {
        text-align: center;
    }

    .section-content {
        background-color: rgba(10, 12, 15, 0.6);
        padding: 15px 0;
    }

    .s-item {
        transition: all 0.4s;
        border-bottom: 1px solid transparent;
        position: relative;
        overflow: hidden;
        float: left;
        display: block;
        //vertical-align: top;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        img { width: 100%; height: auto;}
        .steals {
            background-color: #111;
            transition: opacity 0.25s;
            position: absolute;
            left:0; top:0;
            width: 100%;
            height: 100%;
            opacity: 0;
            img {
                opacity:1;
            }
        }

        .steals-2 {
            background-color: rgba(0,0,0,0.87);
            transition: opacity 0.5s;
            position: absolute;
            left:0; top:0;
            width: 100%;
            height: 100%;
            opacity: 0;
            .inner {
                transition: transform 0.4s;
                transform: translateY(-30px); // scale(0.9);
                position: absolute;
                bottom: 30px;
                width: 100%;
                h3 { margin: 0 0 10px; font-size: 25px; font-weight: 300; color: #f5f6f9; font-family: $hh-font; }
                p  { color: #999; margin: 0; padding-left: 6px; padding-right: 6px;}
            }
        }
        &:hover {
            .steals {
               // opacity: 1;
                img {
                    transform: scale(1);
                }
            }
            .steals-2 {
                opacity: 1;
                .inner {
                    transform: translateY(0);
                }
            }
        }
        &.passive {
           //transform: scale(0.01);
            opacity: 0;
            border-width:0;
            width: 0;
        }
    }

    &.inverse .s-item .steals {
        opacity: 1;
    }

    @media (max-width: 480px) {
        .s-item {
            max-height: 400px;
        }
    }
    @media (min-width: 540px) {
        .container {
            padding-right: 1px;
            padding-left: 1px;
        }
        .s-item {
            width: 50%;
            border: 1px solid transparent;
        }

    }
    @media (min-width: 768px) {
        .container {
            padding-right: 15px;
            padding-left: 15px;
        }
        .section-content {
            padding: 20px 0;
            min-height: 201px;
        }
        .s-item {
            width: 33.3%;
        }
    }
    @media (min-width: 992px) {
        .section-content {
            min-height: 250px;
        }
        .s-item {
            .steals-2 .inner h3 { font-size: 28px; }
        }
    }
    @media (min-width: 1200px) {
        .section-content {
            min-height: 295px;
        }
    }
    @media (min-width: 1280px) {
        .section-content {
            min-height: 231px;
        }
        .s-item {
            width: 25%;
            .steals-2 .inner h3 { font-size: 30px; }
        }
    }
    @media (min-width: 1600px) {
        .section-content {
            min-height: 286px;
        }
        .s-item {
            .steals-2 .inner h3 { font-size: 35px; }
        }
    }
    @media (min-width: 1850px) {
        .section-content {
            min-height: 329px;
        }
    }
}


// footer
#footer {
    min-height: 200px;
    background-color: darken($footer-background-color , 2%);
    color: $footer-color;

}

/// top-div
#top-div {
    position: fixed; bottom: 20px; right: 0;
    opacity: 0; filter: alpha(opacity=0);
    display: none;
    transition: all 0.25s;
    background: rgba(7,10,15,0.25);
    border: 1px solid rgba(250,250,250,0.25);
    width: auto; height: auto;
    z-index: -1;

    &.active {
        bottom: 40px;
        opacity: 0.5;
        cursor: pointer;
        z-index: 999;
        &:hover { opacity: 0.75; }
    }

    span {
        color: #333;
        font-size: 30px;
        padding: 12px 15px;
    }

    @media (min-width: 768px) {
        display: block;
    }
    @media (min-width: 1400px) {
        span {
            font-size: 35px;
            padding: 15px 20px;
        }
    }
}


// animated
.animated {
    transform: translateY(80px);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;

    &.on {
        transform: translateY(0);
        opacity:1;
    }

    @media (min-width: 1500px) {
        transform: translateY(120px);
        transition: transform 0.6s, opacity 0.6s;
    }

}


.flex-box {
    display: flex;
    margin: 40px 10px;
    flex-direction: row;

    & > div {
        padding: 10px; border:1px solid #333;
    }
}

.animate_title {
    color: #1e65a5;
    /*background-image: webkit-linear-gradient(90deg,#f35626, #eee);
    background-image: linear-gradient(top,#f35626, #eee); */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-size: 5rem;
    line-height: 1;
}
